*{
    margin: 0;
}

nav{
    position: fixed;
    height:40px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;

}

.sec{

    height:1080px;
    background-size: cover;
    background-attachment: fixed ;
}

.subclass{
    height: 700px;
    background-color: gray;
}


.sec1{
    background-image: url(Images/1.jpg);
}

.sec2{
    background-image: url(Images/3.jpg);

}

.sec3{
    background-image: url(Images/2.jpg);

}